<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  	<form action="/search" method="post">
  		Your email address:-
  		<input type="text" name="userEmail"><br>
  		Your password:-
  		<input type="password" name="userPassword"><br>
  		To:-
  		<input type="text" name="friendEmail"><br>
  		Heading:-
  		<input type="text" name="heading"><br>
  		Body:-
  		<input type="text" name="body"><br>
  		<input type="submit">
  	</form>
  </body>
</html>